@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg-height {
  height:70px;
}

.content {
  height: calc(100vh - 70px); /* ビューポートの高さからヘッダーの高さを差し引く */
  overflow: hidden; 
}

.modal-center-input {
  height: 5vh;
}

.origin-input::placeholder {
	text-align: center;
  font-size: 30px;
}
