@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
@media (prefers-color-scheme: dark) {
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
}

.header-bg-height {
  height:70px;
}

.content {
  height: calc(100vh - 70px); /* ビューポートの高さからヘッダーの高さを差し引く */
  overflow: hidden; 
}

.modal-center-input {
  height: 5vh;
}

.origin-input::placeholder {
	text-align: center;
  font-size: 30px;
}

.selectedWordsContainer {
  max-height: 20vh; /* ビューポートの高さの1/3に設定 */
  overflow-y: auto; /* 内容が最大高さを超える場合にスクロールバーを表示 */
  display: block; /* span要素に適用する場合は必要 */
  margin-top: 10px;
}

.memo-output {
  white-space: pre-wrap; /* 改行と空白を保持 */
}

.text-xxs {
  @media (max-width:800px) {
    font-size: 1rem/* 12px */;
    line-height: 1rem/* 16px */;
  }
  
}
