@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg-height {
  height:70px;
}

.modal-center-input {
  height: 5vh;
}

::placeholder {
	text-align: center;
  /* height: 50px; */
  font-size: 20px;
}
